{
  "$schema": "https://opencode.ai/tui.json",
  "theme": {{ if eq .chezmoi.os "android" }}"system"{{ else }}"opencode"{{ end }},
  "plugin": [
    "@tarquinen/opencode-dcp@latest",
    "superpowers@git+https://github.com/obra/superpowers.git"
  ]
}